.App {
  margin: 10px;
  color: #555555;
}

.page-title {
  text-align: center;
  border-bottom: 1px solid black;
}

.p-10 {
  padding: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.m-10 {
  margin: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.bb {
  border-bottom: 1px solid #555555;
}

.dashed-border-2 {
  border: 2px dashed;
}

.booksList {
  border: 2px dashed;
}

.fixed {
  position: fixed;
  top: 0px;
  left: 0px;
}

.container {
  width: 80%;
  background: #f3efc8;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.addBookForm input {
  display: block;
}
